@font-face {
    font-family: sw;
    src: url(sidewalk.ttf);
}

@font-face {
    font-family: neu;
    src: url(neu.ttf);
}

a {
   text-decoration: none;
}


body{
    background: url(bg.png);
    height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
}

.header{
    text-align: right;
    padding: 45px 45px 0px 45px;
    vertical-align: middle;
    font-family: sw, jokerman;
    font-size: 110px;
    width: auto;
    height: 200px;
}

.main-menu{
    position: absolute;
    padding-left: 200px;
}

.login{
    padding-right: 0px;
    margin: 0;
    float: right;
    display: inline-block;
}

.option-button{
    opacity: 0.3;
    font-family: neu, jokerman;
    font-size: 40px;
    display: block;
    height: 100px;
}
.option-button:hover{
    -webkit-transition: opacity 1s linear;
    opacity: 1;
    cursor: pointer;
}
.vars {
    position: absolute;
}
.vars > input{
    display: block;
  }
