@font-face {
    font-family: sw;
    src: url(sidewalk.ttf);
}

@font-face {
    font-family: neu;
    src: url(neu.ttf);
}

button {background-color: #ffffff;}
body{
    background: url(bg.png);
    height: auto;
    width: auto;
}

.header{
    text-align: right;
    padding: 45px 45px 0px 45px;
    vertical-align: middle;
    font-family: sw, jokerman;
    font-size: 110px;
    width: auto;
    height: 200px;   
}
.login{
    border: none!important;
    text-align: right;
}
.login div{
    color: #ffffff;
    font-size: 20px;
    font-weight:bold;
    display: inline;
    width: 50px!important;
    height: 32px!important;
    background-color: #F18103;
}

.option-button{
    opacity: 0.3;
    margin-left: 200px;
    font-family: neu, jokerman;
    font-size: 40px;
    display: block;
    width: 100px;
    height: 100px;
}
.option-button:hover{
    -webkit-transition: opacity 1s linear;
    opacity: 1;
    cursor: pointer;
}
.vars {
    position: absolute;
}
.vars > input{
    display: block;
  }
