@font-face {
    font-family: sw;
    src: url(sidewalk.ttf);
}

@font-face {
    font-family: neu;
    src: url(Neu.ttf);
}
@font-face {
    font-family: DSP;
    src: url(DSProgress-SemiBold.ttf);
}

a {
   text-decoration: none;
}


body{
    background: url(bg.png);
    height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
}
.login > span > span{
    font-size: 20px;
    width: auto;
    vertical-align: top;
    line-height: 32px;
}
.login .show-pageslider {
    cursor: pointer;
}


div>input[type="text"]:focus {
   border: 1px solid #b2d1ff;
}

#login-box-name{
    margin-top:20px;
}

#login-box-field{
    margin-top:10px;   
}
.error-message{
    font-size: 22px;
    color: #ff0059;
}
ul{
    padding-right: 40px;
    padding-top: 15px;
    list-style: none;
}
ul>input{
    color: #FFF;
    margine-left: 10px;
}
.chkbx {
    color: #fff;
    padding-left: 0px;
    padding-top: 0px;
    
}
li>span{
    color: #fff;
}
li{
    padding-top: 10px;
    padding-right: 20px;
}
li>input{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 15px;
    outline: none!important;
    background-color: #FFF;
    border: 1px solid #cccccc;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
}
li>input:focus{
    border-color: rgba(255, 140, 0, 1);
    box-shadow: 0px 0px 1px 1px rgba(255, 140, 0, 1)!important;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 140, 0, 1)!important;
    -o-box-shadow: 0px 0px 1px 1px rgba(255, 140, 0, 1)!important;
    -moz-box-shadow: 0px 0px 1px 1px rgba(255, 140, 0, 1)!important;
    outline: none!important;
    
}
input[type=submit]{ 
    background: red;
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
input[type=submit]:hover{
    background: #F18103;
}

div>input:focus{
    outline: 2px solid darkorange;
}
.btn{
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.content{
    position: absolute;
}
.x{
    height: 600px;
    width: 1500px;
}
.btn:hover {
    background: #F18103;
}
.rgstr{
    float: right;
    margin-top: 10px;
    margin-right: 7px;
    color: #ffffff;
}
.header{
    text-align: right;
    padding: 45px 332px 0px 300px;
    vertical-align: middle;
    font-family: sw, jokerman;
    font-size: 110px;
    width: auto;
    height: 200px;
    min-width: 1161px;
}

.main-menu{
   
    padding-left: 200px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: text-bottom;
}

.login{
    position: absolute;
    margin-right: 0px;
    margin-left: 1750px;
    padding-right: 10px;
   
    float: right;
    display: inline-block;
}

.option-button{
    opacity: 0.3;
    font-family: neu, jokerman;
    font-size: 40px;
    display: block;
    height: 100px;
}
.option-button:hover{
    -webkit-transition: opacity 1s linear;
    opacity: 1;
    cursor: pointer;
}
.vars {
    height: 360px;
    width: 760px;
    display: inline-block;
}
.vars > input{
    display: block;
    
  } 

form.varaibles{
    background-color: rgba(0,0,0, 0.7);       
    border-radius: 10px; 
    display: inline-block;
}
.description{
    position: absolute;
    color: #FFF;
    display: inline-block;
    width: auto;
    height: 340px;
    background-color: rgba(0,0,0, 0.7);       
    border-radius: 10px;
    margin-left: 10px;
}
.varaibles-header{
    padding-bottom: 20px;
}
fieldset{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
legend>span{
    color: #FFF;
    font-family: DSP, sans-serif;
}